<%- include('header') -%>
<div class="container-fluid h-100 d-flex align-items-center justify-content-center login-background">
    <div class="login-container">
        <div class="img-login d-flex align-items-end justify-content-center">
            <div class="login-text text-white d-flex align-items-center justify-content-between flex-column h-50 mb-3">
                <div class="signup  d-flex flex-column align-items-center">
                    <p class="fs-5">Don't you have account?</p>
                    <button class="btn btn-light rounded rounded-pill sign-up">Sign Up</button>
                </div>
                <h1>Welcome</h1>
            </div>
        </div>
        <form action="/route/login" method="post" class="d-flex flex-column align-items-center justify-content-evenly position-relative">
             <% if(locals.message){ %>
                <div class="message position-absolute top-0">
                    <p class="pt-1 text-danger fw-bold"><%= message %></p>
                </div>
              <% }  %>
              <div class="input-container position-relative">
                <i class="fa-regular fa-user position-absolute"></i>
                <input type="email" id="" class="" placeholder="Username" name="email">
              </div>
              <div class="input-container position-relative">
                <i class="fa-solid fa-key position-absolute"></i>
                <input type="password" id="" class="" placeholder="Password" name="password">
              </div>
              <button type="submit" class="btn rounded rounded-pill login-btn ">LOGIN</button>
              <a href="#"><p>Forgot your password?</p></a>
        </form>
    </div>
</div>

<%- include('footer') -%>

